Repository sagikazarmark/helm-charts, pull requests merged in 2021-06, with the labels that each got.

#96 Update sftpgo
  charts/sftpgo/Chart.yaml
  charts/sftpgo/README.md
Labels: chart/sftpgo

#91 Make probes configurable
  charts/caddy/Chart.yaml
  charts/caddy/README.md
  charts/caddy/templates/deployment.yaml
  charts/caddy/values.yaml
Labels: chart/caddy

#97 Add RabbitMQ operator chart
  .github/labeler.yml
  .github/workflows/ci.yaml
  charts/rabbitmq-operator/.gitignore
  charts/rabbitmq-operator/.helmignore
  charts/rabbitmq-operator/Chart.yaml
  charts/rabbitmq-operator/LICENSE
  charts/rabbitmq-operator/README.md
  charts/rabbitmq-operator/README.md.gotmpl
  charts/rabbitmq-operator/crds/rabbitmq.com_rabbitmqclusters.yaml
  charts/rabbitmq-operator/templates/NOTES.txt
  charts/rabbitmq-operator/templates/_helpers.tpl
  charts/rabbitmq-operator/templates/deployment.yaml
  charts/rabbitmq-operator/templates/podmonitor.yaml
  charts/rabbitmq-operator/templates/rbac.yaml
  charts/rabbitmq-operator/templates/serviceaccount.yaml
  charts/rabbitmq-operator/templates/servicemonitor.yaml
  charts/rabbitmq-operator/values.yaml
  exclusions
Labels: chart/rabbitmq-operator

#100 Various updates
  charts/kube-secrets-init/Chart.yaml
  charts/kube-secrets-init/README.md
  charts/kube-secrets-init/README.md.gotmpl
  charts/kube-secrets-init/templates/deployment.yaml
  charts/kube-secrets-init/templates/hpa.yaml
  charts/kube-secrets-init/templates/mutatingwebhook.yaml
  charts/kube-secrets-init/values.yaml
  charts/sftpgo/Chart.yaml
  charts/sftpgo/README.md
  charts/sftpgo/values.yaml
Labels: chart/kube-secrets-init, chart/sftpgo

#101 Fix mutating webhook config template
  charts/kube-secrets-init/Chart.yaml
  charts/kube-secrets-init/README.md
  charts/kube-secrets-init/ci/webhook-config-values.yaml
  charts/kube-secrets-init/templates/mutatingwebhook.yaml
  charts/kube-secrets-init/templates/tests/test-mutating-webhook.yaml
Labels: chart/kube-secrets-init

#103 sftpgo: Support Topology Spread Constraints
  charts/sftpgo/Chart.yaml
  charts/sftpgo/README.md
  charts/sftpgo/templates/deployment.yaml
  charts/sftpgo/values.yaml
Labels: chart/sftpgo

#106 Kube secrets init priority
  charts/kube-secrets-init/Chart.yaml
  charts/kube-secrets-init/README.md
  charts/kube-secrets-init/templates/deployment.yaml
  charts/kube-secrets-init/values.yaml
Labels: chart/kube-secrets-init

#105 Improve documentation
  charts/sftpgo/Chart.yaml
  charts/sftpgo/README.md
  charts/sftpgo/ci/topology-constraints-values.yaml
  charts/sftpgo/templates/deployment.yaml
  charts/sftpgo/values.yaml
Labels: chart/sftpgo
