Repository sagikazarmark/helm-charts, pull requests merged in 2022-12, with the labels that each got.

#159 Fix example custom service
  charts/sftpgo/README.md
Labels: chart/sftpgo

#161 add value for log-level in Helm chart kube-secrets-init
  charts/kube-secrets-init/Chart.yaml
  charts/kube-secrets-init/README.md
  charts/kube-secrets-init/templates/deployment.yaml
  charts/kube-secrets-init/values.yaml
Labels: chart/kube-secrets-init

#178 Update tusd
  charts/tusd/Chart.yaml
  charts/tusd/README.md
Labels: chart/tusd

#179 Update sftpgo
  charts/sftpgo/Chart.yaml
  charts/sftpgo/README.md
Labels: chart/sftpgo

#181 Update sftpgo
  charts/sftpgo/Chart.yaml
  charts/sftpgo/README.md
Labels: chart/sftpgo

#180 Update kube secrets init
  charts/kube-secrets-init/Chart.yaml
  charts/kube-secrets-init/README.md
Labels: chart/kube-secrets-init

#182 sftpgo: config for deployment strategy and init containers
  charts/sftpgo/Chart.yaml
  charts/sftpgo/README.md
  charts/sftpgo/templates/deployment.yaml
  charts/sftpgo/values.yaml
Labels: chart/sftpgo
